extends layout

block content
    link(rel='stylesheet' href='/stylesheets/account.css' media='screen')
    #df.w3-card-4.modal
    #display.w3-card-4.modal
    section#sec-fac6.u-clearfix.u-section-1
        .u-clearfix.u-sheet.u-valign-middle.u-sheet-1
            .u-clearfix.u-expanded-width.u-layout-wrap.u-layout-wrap-1
                .u-layout
                    .u-layout-row
                        .u-container-style.u-custom-color-1.u-layout-cell.u-size-18.u-layout-cell-1
                            .u-container-layout.u-container-layout-1
                                h3.u-align-center.u-custom-font.u-font-ubuntu.u-text.u-text-default.u-text-1 About Me
                                if path == 0
                                    img.u-image.u-image-circle.u-preserve-proportions.u-image-1(src='https://www.inmosenna.com/wp-content/uploads/2018/07/avatar-user-business-man-399587fe24739d5a-512x512-300x300.png' alt='' data-image-width='300' data-image-height='300')
                                else 
                                    img.u-image.u-image-circle.u-preserve-proportions.u-image-1(src="http://localhost:3001/users/"+user_id+"/profilepic.jpeg?token="+token alt='' data-image-width='300' data-image-height='300')
                                button.u-btn.u-btn-round.u-button-style.u-hover-palette-1-light-1.u-palette-1-base.u-radius-50.u-btn-1(type='button' onclick="mudafoto(\"" + user_id + "\",\"" + token +"\");") Change Profile Photo
                                .u-clearfix.u-custom-html.u-custom-html-1
                                    dl
                                        dt
                                            b Your name:
                                            dd=user_name
                                        dt
                                            b Your email:
                                            dd= user_mail
                                        dt
                                            b Your Github:
                                            dd= user_github
                                        dt
                                            b Your Role:
                                            dd= user_role
                                        dt
                                            b Your Course:
                                            dd= user_course
                                        dt
                                            b Your Department:
                                            dd= user_department
                                button.u-btn.u-btn-round.u-button-style.u-hover-palette-1-light-1.u-palette-1-base.u-radius-50.u-btn-2(onclick="openUploadModal(\""+user_id+"\")") UPLOAD
                                .u-table.u-table-responsive.u-table-1(style="overflow-y: auto; overflow-x: hidden")
                                    table.u-table-entity(style="margin: 22px; font-size:12px;text-align:center;")
                                        colgroup
                                            col(width='16.666666%')
                                            col(width='16.666666%')
                                            col(width='16.666666%')
                                            col(width='16.666666%')
                                            col(width='16.666666%')
                                            col(width='16.666666%')
                                            col(width='16.666666%')
                                        thead.u-custom-color-1.u-table-header.u-table-header-1
                                            tr(style='height: 30px;')
                                                th.u-table-cell Date
                                                th.u-table-cell File Title
                                                th.u-table-cell Type
                                                th.u-table-cell Size
                                                th.u-table-cell Security Mode
                                                th.u-table-cell
                                        tbody.u-table-body
                                            each a in lista
                                                tr(id=a._id, style='height: 75px;')
                                                    td.u-border-1.u-border-grey-40.u-border-no-left.u-border-no-right.u-table-cell=a.creationDate
                                                    td.u-border-1.u-border-grey-40.u-border-no-left.u-border-no-right.u-table-cell(onclick="showFile(\""+a.size +"\",\""+a._id+"\",\""+a.name+"\",\""+a.mimetype+"\",\""+a.autor+"\",\""+a.descricao+"\");")= a.title
                                                    td.u-border-1.u-border-grey-40.u-border-no-left.u-border-no-right.u-table-cell=a.mimetype
                                                    td.u-border-1.u-border-grey-40.u-border-no-left.u-border-no-right.u-table-cell=a.size
                                                    if a.privacy == 1
                                                        td.u-border-1.u-border-grey-40.u-border-no-left.u-border-no-right.u-table-cell
                                                            b(id="privacy "+a._id) Private 
                                                            button(id="button "+a._id,onClick="changePrivacy(\""+a._id+"\")" class="fa fa-lock")
                                                    else
                                                        td.u-border-1.u-border-grey-40.u-border-no-left.u-border-no-right.u-table-cell
                                                            b(id="privacy "+a._id) Public 
                                                            button(id="button "+a._id,onClick="changePrivacy(\""+a._id+"\")" class="fa fa-unlock")
                                                    td
                                                        button(class="w3-button w3-green" onclick="location.href='http://localhost:3001/files/download/"+a.autor+"/"+a._id+"?token="+token+"';")
                                                            i(class="fa fa-download" style="font-size:15px")
                                                        b           
                                                        button(class="w3-button w3-red" onclick="deleteFile(\""+a._id+"\")")
                                                            i(class="fa fa-trash" style="font-size:15px")
                                if (user_level=='admin')  
                                    button.u-btn.u-btn-round.u-button-style.u-hover-palette-1-light-1.u-palette-1-base.u-radius-50.u-btn-3(onclick="openWarningModal(\""+user_id+"\")") Warning